<!-- <div class="rating-box">
  <h5>قيم المنتج: {{ product.name }}</h5>

  <div class="stars">
    <i *ngFor="let s of [1,2,3,4,5]" 
       class="fa"
       [ngClass]="s <= stars ? 'fa-star text-warning' : 'fa-star-o'"
       (click)="stars = s"></i>
  </div>

  <textarea [(ngModel)]="content" placeholder="اكتب تعليقك"></textarea>
  <button class="btn btn-success mt-2" (click)="submitRating()">إرسال التقييم</button>

  <hr>
  <h6>آراء العملاء:</h6>
  <div *ngFor="let r of ratings" class="mb-2">
    ⭐ {{ r.stars }} - {{ r.content }}
  </div>
</div> -->
