<div class="rating-container">
  <!-- تفاصيل المنتج -->
  <div class="product-details">
    <img [src]="mainImage" [alt]="product.name" class="main-image" />

    <div class="thumbnails">
      <img *ngFor="let photo of product.photos"
           [src]="'https://e-com-app-xfqq.onrender.com/' + photo.imageName"
           (click)="changeMainImage(photo.imageName)" />
    </div>

    <h3>{{ product.name }}</h3>
    <p>{{ product.description }}</p>
    <p><strong>السعر:</strong> {{ product.newPrice && product.oldPrice| currency:'USD' }}</p>
  </div>

  <hr />

  <!-- فورم التقييم -->
  <div class="rating-form">
    <h3>قيّم المنتج ⭐</h3>

    <label>عدد النجوم:</label>
    <select [(ngModel)]="newRating.stars">
      <option *ngFor="let i of [1,2,3,4,5]" [value]="i">{{i}}</option>
    </select>

    <textarea [(ngModel)]="newRating.content" placeholder="اكتب تعليقك..."></textarea>

    <button (click)="submitRating()">إرسال التقييم</button>
  </div>
</div>
