<div class="container mt-5 text-center">
  <div>
    <i class="fa fa-check-circle fa-5x" style="color: green;"></i>
  </div>
  <div>
    <h2>Thank you, your order is Confirmed</h2>
    <p class="mb-4">Your order will be shipped as soon as possible</p>
    <button class="btn btn-outline-success mb-5"
      routerLink="/orders/item" [queryParams]="{id:orderId}">
      View Order
    </button>
  </div>

  <!-- 🔹 المنتجات اللي انشراو -->
  <div *ngIf="products && products.length > 0">
    <h3 class="mb-4">Products you purchased</h3>

    <div *ngFor="let product of products" class="card mb-3 p-3">
      <div class="row g-3 align-items-center">
        <div class="col-md-2">
          <div class="thumbnails">
      <img *ngFor="let photo of product.photos"
           [src]="'https://e-com-app-xfqq.onrender.com/' + photo.imageName"
            />
    </div>
        </div>
        <div class="col-md-7 text-start">
          <h5>{{ product.name }}</h5>
          <p>{{ product.description }}</p>
            <p><strong>Price:</strong> {{ product.newPrice && product.oldPrice| currency:'USD' }}</p>
        </div>
        <div class="col-md-3">
          <!-- 🔹 هنا نستدعي كومبوننت الريتنغ -->
          <app-rating [product]="product"></app-rating>
        </div>
      </div>
    </div>
  </div>
</div>
